{% set title = lang["about"] %}
{% extends "master.html" %}
{% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
  {% if not g.current_user.isOffice %}
    <p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="searchBar" name="searchBar">
      </div>
    </p>
  {% endif %}
  <p>
    <h3>{{lang["about-title"]}}</h3>
    <div class="horizontal" style="display: inline-block; text-align: center;">
      <p style="text-align: left;">
        {{lang["about-text"] | safe }}
      </p>
      <div style="display: inline-block;">
        <img src="../static/logo_blue.png" style="max-width: 100%; height: auto; aspect-ratio: 1/1; display: inline-block; margin: 0 auto;">
      </div>
    </div>
    {% if g.current_user.highPermissionLevel %}<br>
    {{lang["version"] + " " + stversion}} {% endif %}
  </p>
</div>

{% endblock %}