{% set title = lang["about"] %}
{% extends "master.html" %}
{% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
  <p>
    <h3>{{lang["about-title"]}}</h3>
    <div class="horizontal" style="display: inline-block;">
      <div>
        <p>
          {{lang["about-text"] | safe }}
        </p>
      </div>
      <div style="aspect-ratio:1/1; background-color: #657279;">
        <img src="../static/favicon_website_color.svg" style="width: 100%; height: auto; float: left;">
      </div>
    </div>
    {% if g.current_user.highPermissionLevel %}<br>
    {{lang["version"] + " " + stversion}} {% endif %}
  </p>
</div>

{% endblock %}