{% set title = lang["account-settings"]%} {% extends "master.html" %} {% block body %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script type="text/javascript" src="https://raw.githubusercontent.com/UgoSansH/mdl-datepicker/master/dist/material-datepicker.min.js"></script>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%; max-width: 30em;">
        <p>
            <form action="/account-settings-data" method="POST">
                {% if message %}
                    {{message}}
                {% endif %}
                {% if current_user.isOffice %}
                    {{lang["user-data-update"]}}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="officeName" name="officeName" 
                        value="{{'Behörde Elend Sachsen'}}">
                        <label class="mdl-textfield__label" for="firstName">{{lang["officeName"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="adressOffice" name="adressOffice" 
                        value="{{'Elend, Weinstrasse 15'}}">
                        <label class="mdl-textfield__label" for="adressOffice">{{lang["adressOffice"]}}</label>
                    </div>
                    <p style="color:#33e8ff">{{lang["openingTime"]}}</p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="time" name="openingTime">
                    </div>
                    <p style="color:#33e8ff">{{lang["closingTime"]}}</p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="time" name="closingTime">
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" name="contactPerson">
                        <input class="mdl-textfield__input" type="email" name="contactPersonEmail">
                        <input class="mdl-textfield__input" type="text" name="contactPersonNumber">
                    </div>
                {% else %}
                <div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="fullname" name="fullname" 
                        value="{{userData['fullname']}}" maxlength="64">
                        <label class="mdl-textfield__label" for="fullname">{{lang["fullname"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="date" min="1900-01-01" id="dateofbirth" name="dateofbirth" 
                        value="{{userData['dateofbirth']}}">
                        <label class="mdl-textfield__label" for="dateofbirth">{{lang["dateofbirth"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="address" name="address" 
                        value="{{userData['address']}}">
                        <label class="mdl-textfield__label" for="address">{{lang["address"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="number" maxlength="11" id="taxnumber" name="taxnumber" 
                        value="{{userData['taxnumber']}}">
                        <label class="mdl-textfield__label" for="taxnumber">{{lang["taxnumber"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select class="mdl-textfield__input" id="taxclass" name="taxclass">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <label class="mdl-textfield__label" for="taxclass">{{lang["taxClass"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <select class="mdl-textfield__input" id="gender" name="gender" value="{{userData['gender']}}">
                            <option value="gender-male">{{lang["gender-male"]}}</option>
                            <option value="gender-female">{{lang["gender-female"]}}</option>
                            <option value="gender-queer">{{lang["gender-queer"]}}</option>
                            <option value="gender-no-selection">{{lang["gender-no-selection"]}}</option>
                        </select>
                        <label class="mdl-textfield__label" for="gender">{{lang["gender"]}}</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="employer" name="employer" 
                        value="{{userData['employer']}}">
                        <label class="mdl-textfield__label" for="employer">{{lang["workingPlace"]}}</label>
                    </div>
                </div>
                {% endif %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" onkeyup="success()" type="password" id="passwordValidation" name="passwordValidation" >
                    <label class="mdl-textfield__label" for="passwordValidation">{{lang["password"]}}</label>
                </div>
                <button type="submit" id="update-account-submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" disabled>
                    {{lang["save"]}}
                </button>
                <script>
                    function success() {
                        if(document.getElementById("passwordValidation").value==="") { 
                            document.getElementById('update-account-submit').disabled = true; 
                        } else { 
                            document.getElementById('update-account-submit').disabled = false;
                        }
                    }
                </script>
            </form>
        </p>
    </div>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%">
        <p>
            <form action="" method="POST">
                {{lang["password-update"]}}
                <div id="name">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="first" name="password">
                        <label class="mdl-textfield__label" for="first">{{lang["password"]}}</label>
                    </div>
                </div>
    
                <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                    {{lang["save"]}}
                </button>
            </form>
        </p>
    </div>
{% endblock %}
