{% set title = lang["account-settings"]%} {% extends "master.html" %} {% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%">
    <p>
        <form action="" method="POST">
            {{lang["password-update"]}}
            <div id="name">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="first" name="password">
                    <label class="mdl-textfield__label" for="first">{{lang["password"]}}</label>
                </div>
            </div>

            <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                {{lang["save"]}}
            </button>
        </form>

    </p>
</div>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%">
    <p>
        <form action="/account-settings-data" method="POST">
            {{lang["user-data-update"]}}
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="firstName" name="firstName" 
                    value="{{current_user.fullname}}">
                    <label class="mdl-textfield__label" for="firstName">{{lang["fullname"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="age" name="age" 
                    value="{{78}}">
                    <label class="mdl-textfield__label" for="age">{{lang["age"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="adress" name="adress" 
                    value="{{"Elend, Weinstrasse 14"}}">
                    <label class="mdl-textfield__label" for="adress">{{lang["adress"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="sv" name="sv" 
                    value="{{123424}}">
                    <label class="mdl-textfield__label" for="sv">{{lang["sv"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="taxClass" name="taxClass">
                        <option> 1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <label class="mdl-textfield__label" for="taxClass">{{lang["taxClass"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="gender" name="gender">
                        <option>{{lang["Mann"]}}</option>
                        <option>{{lang["Frau"]}}</option>
                        <option>{{lang["Divers"]}}</option>
                    </select>
                    <label class="mdl-textfield__label" for="taxClass">{{lang["gender"]}}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="workingPlace" name="workingPlace" 
                    value="{{'Schlachterei “FLEEEISCH”'}}">
                    <label class="mdl-textfield__label" for="workingPlace">{{lang["workingPlace"]}}</label>
                </div>
               
            </div>

            <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                {{lang["save"]}}
            </button>
        </form>

    </p>
</div>
{% endblock %}