{% set title = lang["home"] %} {% extends "master.html" %} {% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col"  style="width:100%;">
    <p>
        <h5>Behörde suchen:</h5>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%; display: flex; align-items: center;">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
                    <i class="material-icons search">search</i>
                </button>
                <input class="mdl-textfield__input mdl-shadow--2dp" type="search" id="searchBar" placeholder="{{lang['department-search']}}" name="searchBar" style="border: 2px solid #0000; border-radius: 5px; outline: none; color: #9DBFAF; margin-left: 9%;padding-top:1%;padding-bottom:0;">
        </div>
        <div id="options"style="border: 1px solid #606D74;display:none;margin-left: 9%">
            <ul class="demo-list-item mdl-list" id="officeOptionsUL" name="officeOptionsUL" style:"align-items:center; padding-bottom:0;padding-top:0;">
                {%for data in officeData%}
                    <li class="mdl-list__item" style="padding-bottom:0;padding-top:0;">
                        <span class="mdl-list__item-primary-content" style="padding-bottom:0;padding-top:0;">
                            <a class="option" id="office{{data["username"]}}" href="/office/{{data["username"] | replace(' ', '') | lower }}" style="padding-right: 10%;padding-left: 10%; padding-bottom: 1%;padding-top: 1%;text-decoration: none; display: block;text-align:center;margin:auto;  " onmouseover="this.style.backgroundColor='#DCDFE1';" onmouseout="this.style.backgroundColor='';">{{data["officeName"]}}</a>
                        </span>
                    </li>
                {%endfor%}
        </div>
    </p>
    {%if not g.current_user.isOffice and not g.current_user.highPermissionLevel%}
        <p>
            {{lang["open-tickets"]}}
            <table id="dataTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-status"]}}</th>
                        <th class="mdl-data-table__cell--non-numeric sort-key" >{{lang["ticket-title"]}}</th>
                        <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-time"]}}</th>
                        <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-created-by"]}}</th>
                    </tr>
                </thead>
                {% for ticket in ticket_list %} {% if not ticket.hidden and g.current_user.id == ticket.created_by_id%}
                <tr style="cursor: pointer" onclick="window.location='view/{{ticket.id}}'">
                    <td class="mdl-data-table__cell--non-numeric" style="background: {{ 'lightcoral' if ticket.is_open and not hasValidReply(ticket.id) else 'khaki' if ticket.is_open and hasValidReply(ticket.id) else 'lightgreen'}}">{{ lang["ticket-status-open"] if ticket.is_open and not hasValidReply(ticket.id) else lang["ticket-status-assigned"] if ticket.is_open and hasValidReply(ticket.id) else lang["ticket-status-closed"]}}
                        <span class="material-icons ticket-icon">{{ 'error_outline' if ticket.is_open and not hasValidReply(ticket.id) else 'pending' if ticket.is_open and hasValidReply(ticket.id) else 'check_circle'}}</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric" name="documentTitle"><a href="{{ticket.document}}" name="downloadLink" download ="{{ticket.title}}">{{ticket.title}}</a></td>
                    <td class="mdl-data-table__cell--non-numeric">{{getTime(ticket.time)}}</td>
                </tr>
                {% endif %} {% endfor %}
            </table>
        </p>
    {% endif %}
    {% if g.current_user.highPermissionLevel %}
    <p>
        {{lang["hidden-tickets"]}}
        <table id="dataTable2" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-status"]}}</th>
                    <td class="mdl-data-table__cell--non-numeric">{{ticket.document}}</td>
                    <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-title"]}}</th>
                    <th class="mdl-data-table__cell--non-numeric sort-key">{{lang["ticket-time"]}}</th>
                </tr>
            </thead>
            {% for ticket in ticket_list %} {% if ticket.hidden %}
            <tr style="cursor: pointer" onclick="window.location='view/{{ticket.id}}'">
                <td class="mdl-data-table__cell--non-numeric" style="background: {{ 'lightcoral' if ticket.is_open and not hasValidReply(ticket.id) else 'khaki' if ticket.is_open and hasValidReply(ticket.id) else 'lightgreen'}}">{{ lang["ticket-status-open"] if ticket.is_open and not hasValidReply(ticket.id) else lang["ticket-status-assigned"] if ticket.is_open and hasValidReply(ticket.id) else lang["ticket-status-closed"]}}

                    <span class="material-icons ticket-icon">{{ 'error_outline' if ticket.is_open and not hasValidReply(ticket.id) else 'pending' if ticket.is_open and hasValidReply(ticket.id) else 'check_circle'}}</span>
                </td>
                <td class="mdl-data-table__cell--non-numeric" name="documentTitle"><a href="{{ticket.document}}" name="downloadLink" download ="{{ticket.title}}">{{ticket.title}}</a></td>
                <td class="mdl-data-table__cell--non-numeric">{{getTime(ticket.time)}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ticket.created_by.fullname}}</td>
            </tr>
            {% endif %} {% endfor %}
        </table>
    </p>
    {% endif %}
</div>
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%;">
    <div class="mdl-cell mdl-cell--12-col">
        <h5>Meine Dokumente</h5> 
        <ul class="mdl-list mdl-shadow--2dp">
            {% for document in documents %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{ url_for('download_document', document_id=document.id) }}">{{ document.title }}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span>{{ document.created_by.fullname }}</span>
                        <a href="{{ url_for('delete_document', document_id=document.id) }}" class="delete-icon">Löschen</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%;">
    <div class="mdl-cell mdl-cell--12-col">
        <h5>Meine Dokumente</h5> 
        <ul class="mdl-list mdl-shadow--2dp">
            {% for document in documents %}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="{{ url_for('download_document', document_id=document.id) }}">{{ document.title }}</a>
                    </span>
                    <span class="mdl-list__item-secondary-content">
                        <span>{{ document.created_by.fullname }}</span>
                        <a href="{{ url_for('delete_document', document_id=document.id) }}" class="delete-icon">Löschen</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    var div = document.getElementById("options")
    var input = document.getElementById('searchBar');

    window.onkeydown = function(e){
        var filter, ul, li, i, txtValue,a;
        a = document.getElementsByClassName("option");
        filter = input.value.toUpperCase();
        
        if ( e.target.id  == "searchBar"){
            li = document.getElementsByClassName("mdl-list__item");
            for (i = 0; i < li.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                    
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    div.style.display="block"
                    li[i].style.visibility = 'visible';
                    li[i].style.display = "block";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    }
    window.onclick = function(e){
        if ( e.target.id  != "searchBar"){
            div.style.display="none"
        }
    }

    const downloadLink = document.getElementsByClassName("downloadLink")[];
    for (var i=0 ; i<=downloadLink.length; ++i ) {
        const base64String = downloadLink[i].href
        if(base64String.includes("data")){
            const base64WithoutPrefix = base64String.replace(/^data:application\/(pdf|png|txt|jpeg|jpg);base64,/, "");

            const binaryData = atob(base64WithoutPrefix);

            const arrayBuffer = new ArrayBuffer(binaryData.length);
            const uint8Array = new Uint8Array(arrayBuffer);
            for (let i = 0; i < binaryData.length; i++) {
                uint8Array[i] = binaryData.charCodeAt(i);
            }

            const blob = new Blob([uint8Array]);
            const objectURL = URL.createObjectURL(blob);
            downloadLink.href = objectURL;
            URL.revokeObjectURL(objectURL);
        }
    }   
</script>
{% endblock %}
