{% set title = office["officeName"] %}
{% extends "master.html" %}
{% block body %}
<style>
  .material-icons {
    padding-right: 0.3em;
  }
</style>
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%;">
  <div class="mdl-cell mdl-cell--12-col" style="display: flex;">
    <div style="flex-grow: 1;"> 
      <h4 style="flex-grow: 1">{{ office["officeName"] }}</h4>
      <div style="display: flex;">
        <i class="material-icons">location_on</i>
        <p><strong>{{ lang['address'] }}: </strong> {{ office["adressOffice"] }}</p>
      </div>
      <div style="display: flex;">
        <i class="material-icons">schedule</i>
        <p><strong>{{ lang['opening'] }} </strong> {{ office["openingTime"] }} : {{ office["closingTime"] }}</p>
      </div>

    </div>
    <img class="img" id="avatar" src="{{ office['base64Txt'] or url_for("static", filename="no-picture.png") }}"
      style="max-width: 20%;height: auto; border-radius: 100%; aspect-ratio:1/1; object-fit: contain;" />
  </div>
</div>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%; background-color: #bdcdd4 !important;">
  <div class="mdl-cell mdl-cell--12-col" style="display: flex; background-color: #bdcdd4 !important;">
    <div style="flex-grow: 1;"> 
      <h4 style="flex-grow: 1">{{ lang["contactPerson"] }}</h4>
      <div style="display: flex;">
        <i class="material-icons">badge</i>
        <p><strong>{{ lang["name"] }}: </strong> {{ office["contactPersonName"] }}</p>
      </div>
      <div style="display: flex;">
        <i class="material-icons">email</i>
        <p><strong>{{ lang["email-address"] }}: </strong> {{ office["contactPersonEmail"] }}</p>
      </div>
      <div style="display: flex;">
        <i class="material-icons">call</i>
        <p><strong>{{ lang["number"] }}: </strong> {{ office["contactPersonNumber"] }}</p>
      </div>
    </div>
    <img class="img" id="avatar" src="{{ office['base64TxtContactPerson'] or url_for("static", filename="no-picture.png") }}"
      style="max-width: 20%;height: auto; border-radius: 100%; aspect-ratio:1/1; object-fit: contain;" />
  </div>
</div>

<div style="display: flex; align-items: center; width: 100%; margin: auto;max-height:30em;box-sizing: border-box;">
  {% if "news" in office %}
  {{ lang["important-news"] }}
  <div class="demo-graphs mdl-shadow--2dp mdl-cell mdl-cell--8-col"
    style="width: 50%; background-color: #6C797F; color: white;">
    <p>{{ office["news"] }}</p>
  </div>
  {% endif %}
</div>

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%;">
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Öffentliche Dokumente</h4>
    {% if documents|length < 1 %} <p>Es wurden noch keine Formulare eingestellt.</p>
      {% else %}
      <ul class="mdl-list mdl-shadow--2dp">
        {% for document in documents %}
        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <p style="max-width:60%;min-width:33%">{{ document.title }}</p>
            <a href="{{ url_for('download_document', document_id=document.id) }}">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                style="position:relative; bottom: 0; margin-left: 1em;">Original</button>
            </a>
            <a href="{{ url_for('fill_form', id=document.id) }}">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                style="position:relative; bottom: 0; margin-left: 1em">Ausgefüllt</button>
            </a>
          </span>
          <span class="mdl-list__item-secondary-content">
            <span>{{ document.created_by.fullname }}</span>
            {% if document.created_by.id == g.current_user.id or g.current_user.highPermissionLevel %}
            <a href="{{ url_for('delete_document', document_id=document.id) }}" class="delete-icon">Löschen</a>
            {% endif %}
          </span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
  </div>
</div>

{% endblock %}