{% set title = lang["store-formular"] %}
{% extends "master.html" %}
{% block body %}

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" style="width:100%;">
    <div class="mdl-cell mdl-cell--12-col">
        <h4>{{lang['store-formular']}}</h4> 
        {% if message %}
        {{message}}
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
            {{lang["create-formular"]}}
            <label for="pdf_file">
            <div class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white">
                {{lang["choose-form"]}}
                <input style="display: none" type="file" name="pdf_file" id="pdf_file" accept=".pdf" onchange="success()" />
            </div>
            </label>
            <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" id="createDocument" disabled>
                {{lang["create"]}}
            </button>
        </form>
    </div>
</div>


<script>
    function success() {
        const createDocument = document.getElementById("createDocument")
        if (document.getElementById("pdf_file").files.length > 0) {
            createDocument.disabled = false;
        }else{
            createDocument.disabled = true;
        }
    }
</script>


{% endblock %}




  