{% set title = lang["store-formular"] %}
{% extends "master.html" %}
{% block body %}

<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" , style="width:100%">
    {% if message %}
        {{message}}
    {% endif %}
    <p>
        
        <form action="" method="POST" enctype="multipart/form-data">
            {{lang["create-document"]}}
            <div id="name">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="first" name="document-title">
                    <label class="mdl-textfield__label" for="first">{{lang["document-title"]}}</label>
                </div>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" name="document-fields">
fullname=x,y;dateofbirth=x,y;address=x,y;taxnumber=x,y;taxclass=x,y;gender=x,y;employer=x,y
</textarea>
                <label class="mdl-textfield__label" for="sample5">Positiondaten für die Felder !not implemented!</label>
          </div>
            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                <input type="file" name="documentFile" id="documentFile" accept=".pdf" onchange="success()" />
                <label for="documentFile">{{lang["choose-form"]}}:</label>
            </div>
        </form>
        <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" id="createDocument" disabled>
            {{lang["create"]}}
        </button>
    </p>
</div>

<script>
    function success() {
        const createDocument = document.getElementById("createDocument")
        if (document.getElementById("documentFile").files.length > 0) {
            createDocument.disabled = false;
        }else{
            createDocument.disabled = true;
        }
    }
</script>


{% endblock %}




  